*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(251, 255, 255);
    ;
}



h1{
    position: absolute;
    top: 230px;
    left: 410px;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 410;
    color:white;
    font-size: 28pt;
}

h2{
    position: absolute;
    top: 300px;
    left: 410px;

    padding-top: 0px;
    margin-right: 50px;

    font-size: 17pt;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 300;
    line-height: 35px;
    color: white;

}

#officeInfo2 h2{
    position: absolute;
    top: 600px;
    left: 100px;
    color: #2A527B;
    padding-right: 600px;
    padding
}

#portrait{
    border-radius: 10px;
    width: 250px;
    position: relative;
    top: 10px;
    left: 100px;
}

.block{
    background-color: #2A527B;
    padding-bottom: 20px;
}

#team{
    position: absolute;
    top:520px;
    left: 950px;

    margin-bottom: 20px;

    border-radius: 20px;
}

